<div class="card mb-3 shadow-lg custom-card">
    <div class="card-header text-white custom-card-h">
        <h3><i class="far fa-images"></i> Uploads</h3>
    </div>
    <div class="card-body">
        <div class="row">
            {{#each images}}
            <div class="mb-2 p-2 col-md-3 img-card">
                <a href="/images/{{uniqueId}}">
                    <img src="/public/upload/{{fileName}}" alt="" class="w-95 h-95 img-thumbnail custom-img">
                </a>
            </div>
            {{/each}}
        </div>
    </div>
</div>

<div class="card shadow-lg custom-card">
    <div class="card-header custom-card-h">
        <h3 class="card-title text-white">
            <i class="far fa-image"></i> Upload an Image
        </h3>
    </div>
    <div class="card-body">
        <form action="/images" method="POST" enctype="multipart/form-data">
            <div class="image-preview" id="imagePreview">
                <img src="" alt="Image Preview" class="image-preview__image">
                <span class="image-preview__default-text">Image Preview</span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" name="image" class="custom-file-input" id="inputGroupFile" accept=".gif,.jpeg,.jpg,.png"
                            aria-describedby="inputGroupFileAddon" required>
                        <label class="custom-file-label form-control-file" for="inputGroupFile">Choose file</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" name="title" class="form-control" placeholder="Title for the image" required>
            </div>
            <div class="form-group">
                <textarea name="description" rows="2" class="form-control custom-textarea" placeholder="Decription for the image"
                    required></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-success">
                    <i class="fa fa-upload"></i> Upload your image
                </button>
            </div>
        </form>
    </div>
</div>

