.navbar-brand img {
    width: 60%;
}

body {
    background: #121212;
    
}

.custom-card {
    border-radius: 15px;
    border: none;
    background-color: rgba(245, 245, 245, 0.1);
}

.custom-card-h {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: #1f2933;
}

.custom-img {
    border-radius: 10px;
}

.navbar-custom {
    background-color: #1f2933;
}

.container-fluid.custom {
    padding-left: 16px;
    padding-right: 16px;
}

.btn.btn-custom {
    background: #486581;
    border-color:  #486581;
    border-radius: 25px;
}

.btn-custom:hover {
    background: #627D98;
}

.image-preview {
    width: 300px;
    min-height: 100px;
    border: 2px solid #dddddd;
    margin-top: 15px;
    margin-bottom: 15px;

    /* Default text */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #cccccc;
}
.image-preview__image {
    display: none;
    width: 100%;
}