.navbar-brand img {
    width: 60%;
}

body {
    /*background: #121212;*/
    background: rgb(31,42,42);
    background: linear-gradient(0deg, rgba(31,42,42,1) 0%, rgba(67,111,129,1) 100%);
    
}

.custom-card {
    border-radius: 15px;
    border: none;
    background-color: rgba(245, 245, 245, 0.2);
}

.custom-card-h {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: #1f2933;
}

.custom-img {
    border-radius: 10px;
}

.img-sidebar {
    width: 20%;
    height: 27%;
    border-radius: 10px;
}

.img-card {
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
    border: solid 1px rgba(245, 245, 245, 0.2);
}

.img-card:hover{
    border: solid 1px rgba(245, 245, 245, 0.5);
}

.navbar-custom {
    background-color: #1f2933;
}

.container-fluid.custom {
    padding-left: 16px;
    padding-right: 16px;
}

.btn.btn-custom {
    background: #486581;
    border-color:  #486581;
    border-radius: 25px;
}

.btn-custom:hover {
    background: #627D98;
}

.image-preview {
    width: 300px;
    min-height: 100px;
    border: 2px solid #dddddd;
    margin-top: 15px;
    margin-bottom: 15px;

    /* Default text */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #cccccc;
}
.image-preview__image {
    display: none;
    width: 100%;
}

.card-collapse-h {
    display: inline;
    cursor: pointer;
}
.card-collapse-btn {
    display: inline;
    font-size: large;
    font-weight: bold;
    float: right;
    cursor: pointer;
}

.heart i.fa-heart {
    color: #f44336;
}

.heart1 i.fa-heart {
    color: #f44336;
}

.heart{
    animation: heart 0.5s linear;
}

@keyframes heart{
    0%{
        transform: rotate(0deg) scale(1.7);
    }
    40%{
        transform: rotate(0deg) scale(1);
    }
    41%{
        transform: rotate(360deg) scale(1);
    }
    100%{
        transform: rotate(0deg) scale(1);
    }
}