<div class="card mb-3 custom-card">
    <div class="card-header text-white custom-card-h">
        <h5><i class="fas fa-fire"></i> Most popular</h5>
    </div>
    <div class="card-body">
        <div class="row">
            {{#each sidebar.popular}}
                <div class="col-md-4 mb-1 img-sidebar">
                    <a href="/images/{{uniqueId}}">
                        <img src="/public/upload/{{fileName}}" class="w-100 h-100 image-thumbnail img-card" alt="">
                    </a>
                </div>
            {{/each}}
        </div>
    </div>
</div>